@font-face {
    font-family: bhive;
    src: url(../font/Beehive-Regular.otf);
}

main.text-align {
    text-align: center;
}

.text-align {
    text-align: center;
}

.display-inline-block{
    display: inline-block;
}

h1#logoHome {
    font-family: 'bhive';
    color: pink;
    margin-left: 15%;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

/* NAVBAR */

a.link-nav {
    color: grey;
    text-decoration: none;
    font-size: 1.5rem;
}


ul {
    list-style-type: none;
    padding: 30px;
}

li {
    padding: 10px;
}

.nav-toggle {
    cursor: pointer;
    position: absolute;
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: aliceblue;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    z-index: 1;
}

.main-navigation.open {
  transform: translateX(0);
}

.main-navigation .nav-toggle {
  right: 5%;
  top: 1%;
}

.fa-bars {
    margin-top: 5%;
}

.fa-shopping-cart {
    margin-left: 10%;
}

input#searchInput {
    margin-left: 15%;
}

/* SPLASH PAGE */

.splash-item-display-first-row {
    width: 30%;
    height: 100%;
    margin: 5px;
    background-color: grey;
    display: inline-block;
}

.card-img-top {
    width: 80%;
}

.price-text-splash {
    font-size: 1rem;
    color: grey;
}

.title-text-splash {
    font-size: 1.5rem;
    color: black;
}

.carousel-slide-one {
    background-image: url(../img/carousel-image-one.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-slide-two {
    background-image: url(../img/carousel-image-two.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-slide-one {
    background-image: url(../img/carousel-image-three.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-h1 {
    color: pink;
}

a.shopping-cart-link {
    text-decoration: none;
    color: black;
}

a.shopping-cart-link:visited {
    text-decoration: none;
    color: black;
}

/* PRODUCT PAGE */

.product-page-img {
    max-width: 80%;
}

.suggested-reads {
    max-width: 60%;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.form-control-product {
    margin-left: 10%;
}

/* CHECKOUT PAGE */

#smallSignUp {
    color:black;
}



