@font-face {
    font-family: bhive;
    src: url(../font/Beehive-Regular.otf);
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

main.text-align {
    text-align: center;
}

.text-align {
    text-align: center;
}

.display-inline-block{
    display: inline-block;
}

h1#logoHome {
    font-family: 'bhive';
    color: pink;
    margin-left: 15%;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

/* NAVBAR */

a.logo-link {
    text-decoration: none;
    color: pink;
}

a.logo-link:visited {
    text-decoration: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    background: aliceblue;
  }
  
header .logo {
    color: pink;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    font-family: 'bhive';
  }
  
header nav {
    float: right;
  }
  
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
header nav ul li {
    list-style: none;
    position: relative;
  }
  
header nav ul li.sub-menu:before {
    content: '\f078';
    font-family: fontAwesome;
    position: absolute;
    line-height: 55px;
    color: grey;
    right: 1px;
  }
  
header nav ul li.active.sub-menu:before {
    content: '\f077';
  }
  
header nav ul li ul {
    position: absolute;
    left: 0;
    background: #333;
    display: none;
    z-index: 1;
  }
  
header nav ul li.active ul {
    /* use li: hover instead */
    display: block;
  }
  
header nav ul li ul li {
    display: block;
    width: 200px;
  }
  
header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 5px;
    color: grey;
    text-decoration: none;
    display: block;
  }
  
header nav ul li a:hover {
    color: pink;
    text-decoration: none;

  }
  
header nav ul li a.active {
    background: #2196f3;
    text-decoration: none;
  }
  
.menu-toggle {
    color: grey;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none
  }
  
    @media (max-width: 860px) {
    header {
      padding: 0 20px;
    }

    .menu-toggle {
      display: block;
    }

    header nav {
      /* use display none or left:-100% to hide the nav  */
      /* display: none; */
      position: absolute;
      top: 50px;
      left: -100%;
      width: 100%;
      height: calc(100vh - 50px);
      background: aliceblue;
      transition: 0.5s;
      z-index: 1;
    }

    header nav.active {
      left: 0;
    }

    header nav ul {
      display: block;
      text-align: center;
    }

    header nav ul li a {
      border-bottom: 0.9px solid rgba(0, 0, 0, .2);
    }

    header nav ul li.active ul {
      position: relative;
      background: lightgrey;
    }

    header nav ul li ul li {
      width: 100%;
    }
  }

  .li-dropdown {
      padding: 5px;
  }

  .li-padding {
      font-size: .8rem;
  }



.nav-toggle {
    cursor: pointer;
    position: absolute;
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: aliceblue;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    z-index: 1;
}

.main-navigation.open {
  transform: translateX(0);
}

.main-navigation .nav-toggle {
  right: 5%;
  top: 1%;
}

.fa-bars {
    margin-top: 5%;
}

/* SEARCH BAR */

.search-container {
    margin-top: 15%;
}



/* SPLASH PAGE */

.splash-item-display-first-row {
    width: 30%;
    height: 100%;
    margin: 5px;
    background-color: grey;
    display: inline-block;
}

.card-img-top {
    width: 80%;
}

.price-text-splash {
    font-size: 1rem;
    color: grey;
}

.title-text-splash {
    font-size: 1.5rem;
    color: black;
}

.carousel-slide-one {
    background-image: url(../img/carousel-image-one.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-slide-two {
    background-image: url(../img/carousel-image-two.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-slide-one {
    background-image: url(../img/carousel-image-three.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-h1 {
    color: pink;
}

a.shopping-cart-link {
    text-decoration: none;
    color: black;
}

a.shopping-cart-link:visited {
    text-decoration: none;
    color: black;
}

/* PRODUCT PAGE */

.product-page-img {
    max-width: 80%;
}

.suggested-reads {
    max-width: 60%;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.form-control-product {
    margin-left: 10%;
}

/* CHECKOUT PAGE */

#smallSignUp {
    color:black;
}

/* ALL CATEGORIES */

.shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
 }

 .card-category {
     height: 20vh;

 }

 /* ARTS AND MUSIC */

 #bestSellerScrollArts {
     overflow-x: scroll;
     width: auto;
     white-space: nowrap;
 }

 .best-seller-item {
     display: inline-block;
     width: 150px;
     height: 200px;
 }

 .item-one {
     background-image: url(../img/believing-is-seeing.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }

 .item-two {
    background-image: url(../img/complete-guide-figure-drawing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.new-arrival-item {
    display: inline-block;
    width: 150px;
    height: 200px;
}

/* BLOG */

.container-blog {
    margin-top: 20%;
}