* {
    padding: 0;
    margin: 0;
}


@media (min-width: 768px) {
    .image-title-paragraph {
        display: table-cell;
    }
}

@media (min-width: 768px) {
    .image-title-paragraph {
        display: table-cell;
    }
}

#table-container {
    width:80vw;
    height: 45vw;
    margin-left: 10vw;
    margin-top: 5vw;
    margin-bottom: 10vw;

}

.paragraph {
    padding-top: 5vw;
}

.navbar-color {
    background-color: peachpuff;

}

