* {
    margin: 0;
    padding: 0;
}

/* HOME PAGE!! 
    HOME PAGE!!!
     HOME PAGE!!! */

     
     
     /* MOBILE STUFF */

     img.contock-logo {
        object-fit: contain;
        width: 60vw;
    }

    .btn-outline-warning {
        color: #800000;
        border-color:#800000;

    }
    
    .btn-play {
        width: 6vw;
        height: 6vw;
        background-image: url(img/play.png);
        background-size: cover;
    }

    .btn-pause {
        width: 6vw;
        height: 6vw;
        background-image: url(img/pause.png);
        background-size: cover;
    }

    .btn {
        padding: 1rem;
    }

    #carouselButtons {
        display: block;
        width: 20vw;
    }

    .jumbotron-home {
        background-color: transparent;
    }

/* NAVBAR */

.navbar-light .navbar-toggler {
    border: none;

}
a.nav-link {
    font-family: "Roboto slab";
}

li {
    background-color:lightgray;
}


/* Icon 1 */

.animated-icon1, .animated-icon3, .animated-icon4 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon3 span, .animated-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
      background: #800000;
  }
  
  .animated-icon3 span {
      background: #800000;
  }
  
  .animated-icon4 span {
      background: #800000;
  }
  
  .animated-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
    top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
    top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }


/* CAROUSEL STUFF */

.carousel-img {
    object-fit: cover;
}

.carousel-mobile {
    width: 90vw;
}


 /* PARAGRAPH */

 .h2-paragraph {
     font-family: "roboto slab";
     color: #800000;
 }

.paragraph-text {
    font-family: "Roboto"
}
 
.home-paragraph {
    background-color: lightgrey;
}

.paragraph-quote-one {
    font-family: "roboto slab";
    font-style: italic;
    font-size: 3vw;
    margin-left: 3vw;
    padding-top: 2vw;
}

.paragraph-quote-two {
    font-family: "roboto";
    font-size: 2vw;
    font-style: italic;
    padding-top: 2vw;
    margin-left: 1vw;
}

.paragraph-quote-three {
    font-family: "roboto";
    font-size: 1.5vw;
    font-style: italic;
    padding-top: 2vw;
    margin-left: 8vw;
}

.paragraph-quote-four {
    font-family: "roboto slab";
    font-size: 2vw;
    font-style: italic;
    padding-top: 2vw;
    margin-left: 12vw;
}

.paragraph-quote-five {
    font-family: "roboto slab";
    font-size: 2.6vw;
    font-style: italic;
    padding-top: 2vw;
    margin-left: 3vw;
}

.paragraph-quote-six {
    font-family: "roboto";
    font-style: italic;
    font-size: 1.6vw;
    margin-left: 12vw;
    padding-top: 3vw;

}


/* JUMBOTRON */

.jumbotron-home {
    background-color: white;
}

.h2-jumbo {
    font-family: "roboto slab";
  
}

.jumbo-text {
    font-family: "roboto";
}

/* LAPTOP SIZE */

a.a-lg {
    color: black;
    font-family: "roboto slab";
    font-size: 1.5vw;
    text-decoration: none;
    
}

a.a-lg:hover {
    color: whitesmoke;
}

.ul-lg {
    list-style-type: none;

}

/* ABOUT PAGE!! 
    ABOUT PAGE!!!
    ABOUT PAGE!!! */

#h1About {
    font-family: "roboto slab";
    text-align: center;
    margin-bottom: 5vw;
    font-size: 7vw;

}

#h3About {
    font-family: "roboto slab";
    text-align: left;
    margin-bottom: 5vw;
    margin-left: 12.5vw;
    font-size: 5vw;
}

#h4About {
    font-family: "roboto";
}

.about-paragraph {
    font-family: "roboto";
}

.testimonial {
    width:100vw;
    height: 30vw;
    background-color:#800000;
}

#testimonialQuote {
    color: whitesmoke;
    font-family: "roboto slab";
    text-align: center;
    font-size: 7vw;
    margin-top: 3vw;
}

.form-font {
    font-family: "Roboto";
}

.btn-form {
    padding: .7rem;
}

.img-lightbulb {
    width: 50%;
    margin-left: 25vw;
}

.btn-primary {
    background-color: #ffe527;
    border-color: #ffe527;
    color: black;
}

/* TEAM PAGE!!
    TEAM PAGE!!
        TEAM PAGE!! */


.team-img1 {
    width: 60%;
    
}

.team-img2 {
    width: 60%;

}

.team-img3 {
    width: 55%;
}

#connor {
    display: inline-block;
    font-family: "Roboto slab";
    font-size: 1.1rem;
 
}

#tanner {
    display: inline-block;
    font-family: "Roboto slab";
    font-size: 1.1rem;
}

#bigbird {
    display: inline-block;
    font-family: "roboto slab";
    font-size: 1.1rem;
    margin-top: 22vw;
    margin-left: 9vw;
   
}

.dream-team {
    width: 50%;
    margin-left: 20vw;
    padding-top: 4vw;
}

.mobile-left {
    float: left;
}

.mobile-right {
    display: inline-block;
    background-color: lightgray;
    
}

.team-jumbotron {
    font-family: "roboto";
}

.header-table {
    font-family: "Roboto slab";
    background-color: #ffe527;
    margin-bottom: 10vw;
}

.table-font {
    font-family: "Roboto";
}

.card {
    width: 18rem;
}



/* SHOP PAGE
    SHOP PAGE
        SHOP PAGE */

    
#shopHead {
    display: inline-block;
    font-family: "Roboto slab";
    padding: 5vw;
    margin-left: 30vw;
    margin-right: 15vw;
}

.shopping-img {
    width: 10%;
    padding-bottom: 3vw;
}

.card {
    border: 0px white;
}

.card-text {
    font-family: "Roboto";
}

.shop-title {
    font-family: "Roboto slab";
    color:#800000;
}

.btn-shop {
    padding: .5rem;
}

.modal-btn {
    padding: .5rem;
}

/* FOOTER !!
    FOOTER !!
        FOOTER !! */

.footer {
    background-color: #800000;
    width: 100vw;
    height: 55vw;

}

.footer-paragraph {
    color: whitesmoke;
    font-family: "Roboto slab";
}

.modal-header {
    border: 0px white;
}

avisited {
    text-decoration: none;
    
}

.footer-twitter {
    width: 35px;
    height: 27px;
    padding-right: 2vw;
}

.footer-insta {
    width: 30px;
    height: 30px;
}


/*  MEDIA BREAKPOINTS !! */


@media screen and (min-width: 320px) and (max-width: 766px) {

    nav.navbar-lg {
        display: none;
    }

    #contocklogoLaptop {
        display: none;

    }

    /* HOME */

    .paragraph-quote-one {
        display: none
    }

    .paragraph-quote-two {
        display: none
    }

    .paragraph-quote-three {
        display: none
    }

    .paragraph-quote-four {
        display: none
    }

    .paragraph-quote-five {
        display: none
    }

    .paragraph-quote-six {
        display: none
    }


    /* ABOUT */

    .img-lightbulb {
        margin-left: 23vw;
        padding-top: 10vw;
    }

    #small-laptop {
        display: none;
    }

    .laptop-paragraph {
        display: none;
    }

    /* TEAM */

    #nameLaptop {
        display: none;
    }
    
    .team-img3 {
        float: right;
    }

    /* SHOP */

    .media-list-laptop {
        display: none;
    
    }

    /* FOOTER */

    .subscribe-btn-sm {
        color: white;
        background-color: #8C5B12;
        border: 0px transparent;
        padding: .5vw;
        border-radius: 5%;
        margin-left: 2vw;
    }

    .submit-btn {
        padding: .5vw;
    }

    
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 991px) {

    /* HOME */


    .paragraph-quote-one {
        display: none
    }

    .paragraph-quote-two {
        display: none
    }

    .paragraph-quote-three {
        display: none
    }

    .paragraph-quote-four {
        display: none
    }

    .paragraph-quote-five {
        display: none
    }

    .paragraph-quote-six {
        display: none
    }

    nav.navbar-lg {
        display: none;
    }
    
    img.contock-logo {
        margin-left: 10vw;
       
    }

    .paragraph-text {
        font-size: 3vw;
    }

    .jumbo-text {
        font-size: 3vw;
    }

    .h2-jumbotron {
        font-size: 5vw;
        padding-bottom: 2vw;
    }

    .footer {
      height: 30vw;
      margin-bottom: 2vw;
    }

    .footer-twitter {
        width: 50px;
        height: 27px;
        padding-right: 2vw;
    }

    .footer-insta {
        width: 30px;
        height: 30px;
    }

    .footer-paragraph {
        color: whitesmoke;
        font-family: "Roboto slab";
        font-size: 3vw;
    }

    a.nav-link {
        font-size: 3vw;
    }

    .contock-logo {
        padding-top: 4vw;
    }

    /* ABOUT */

    .lightbulb-container {
        padding-top: 4vw;
        
    }

    .img-lightbulb {
        width: 50%;
    }

    #h3About {
        text-align: center;
        margin-bottom: 5vw;
        font-size: 6vw;
        margin-left: 3vw;
    
    }

    .about-paragraph {
        font-size: 3vw;
    }

    .jumbo-text {
        margin-bottom: 2rem;
    }

    .laptop-paragraph {
        display: none;
    }

    #small-laptop {
        display: none;
    }

    /* TEAM */

    .header-table {
        font-size: 5vw;
        background-color: none;
        display: inline-block;
        margin-left: 15vw;
        margin-bottom: 6vw;
       
    }

    #tanner {
        font-size: 4vw;
    }

    #connor {
        font-size: 4vw;
    }


    #bigbird {
        font-size: 4vw;
        margin-left: 13.8vw;
    }

    .lead {
        font-size: 1.8rem;
    }

    .quote-team {
        font-size: 1.5rem;
        font-family: "Roboto";
    }

    .ceo {
        border: 0px white;
    }

    .dream-team {
        width: 40%;
        margin-left: 20vw;
        padding-top: 2vw;
    }

    .table-font {
        font-size: 2.5vw;

    }

    #testimonialQuote {
        font-size: 5.5vw;
    }

    .testimonial {
        height: 15vw;
    }

    #h5About {
        font-size: 3.5vw;
    }

    #nameLaptop {
        display: none;
    }
    

    /* SHOP */

    .card {
        width: 30rem;
    }

    .shopping-img {
        width: 7%;
        padding-bottom: 3vw;
    }

    #shopHead {
        font-size: 5.5vw;
        padding: 5vw;
        margin-left: 36vw;
        margin-right: 15vw;
    }

    .media-list-laptop {
        display: none;
    
    }

     /* FOOTER */

     .subscribe-btn-sm {
        color: white;
        background-color: #8C5B12;
        border: 0px transparent;
        padding: .5vw;
        border-radius: 5%;
        margin-left: 2vw;
    }

    .submit-btn {
        padding: .5vw;
    }

 }



 /* LAPTOP */

@media screen and (min-width: 992px) { 
    

    img.contock-logo {
        width: 30%;
        margin-left: 31vw;
        margin-right: 40vw;
        padding-top: 2.5vw;
    }
    

    /* NAVBAR */

    #collapseBtn {
        display: none;
    }
    
    a.navbar-brand {
        display: inline-block;
    }

    .nav-item {
        background-color: transparent;
    }

    /* CAROUSEL STUFF */


    .btn-play {
        margin-left: 4vw;
    }

    .container-padding-lg {
        padding-top: 2vw;
    }

    /* FOOTER */

    .footer {
        height: 20vw;

    }

    .footer-twitter {
        width: 55px;

    }

    /* ABOUT */

    .navbar-sm {
        display: none;
    }

    .fillable-form {
        padding-left: 20vw !important;
        padding-right: 20vw !important;
        padding-top: 4vw !important;
        
    }

    .img-lightbulb {
        width: 20%;
        padding-top: 5vw !important;
        margin-left: 35vw;
    }

    .lightbulb-container {
        border: 2px black;
    }

    #h3About {
        font-size: 4vw;
        margin-left:25vw;
        display: block;
        font-family: "roboto";
        font-weight: 800;
        color: #800000;
        margin-top: 4vw;
    }

    .about-paragraph {
        font-size: 1rem;
        text-align: left;
    }

    #testimonialQuote {
        font-size: 3vw;
        padding-top: 2.5vw;
    }

    .testimonial {
        height: 20vw;
    }

    /* TEAM */

    .dream-team {
        width: 20%;
        margin-left: 10vw;
    }

    #tanner {
        display: none;
    }

    #connor {
        display: none;
    }

    #bigbird {
        display: none;
        margin-left: 10vw;
    }

    .dream-team {
        width: 20%;
        margin-left: 13vw;
    }

    .card-1 {
        display: none;
    }

    .card-2 {
        display: none;
    }

    .card-3 {
        display: none;
    }

    /* Laptop Names */

    #tannerLg {
        display: inline-block;
        padding-left: 13vw;
        font-family: "roboto slab";
        font-size:1.6rem;
    }

    #connorLg {
        display: inline-block;
        padding-left: 20vw;
        font-family: "roboto slab";
        font-size:1.6rem;

    }

    #bigbirdLg {
        display: inline-block;
        padding-left: 20vw;
        font-family: "roboto slab";
        font-size:1.6rem;
    }

    .mobile-right {
        background-color: transparent;
    }

    .team-img1 {
        width: 80%;
        margin-left: 4vw;
        padding-top: 2vw;
        
    }
    
    .team-img2 {
        width: 80%;
        margin-bottom: 2vw;
    
    }
    
    .team-img3 {
        width: 75%;
        margin-left: 3vw;
    
    }

    /* SHOP */

    .shopping-img {
        width: 3%;
        margin-top: 3vw;
        margin-left: 20vw;
    }

    #shopHead {
        padding-top: 3vw;
        padding-bottom: 5vw;
        margin-left: 34vw;
    }

    .media-list-img {
        width: 20vw;
    }

    li.media {
        background-color:  transparent;
    }
    

    .media-head {
        font-family: "roboto slab";
        font-size: 2vw;
    }

    .media-paragraph {
        padding: 3vw;
        font-size: 1.2vw;
        font-family: "roboto";
    }

    .btn-shop-lg {
        margin-left: 43vw;
        padding: 1vw;
    }

    .subscribe-btn-lg {
        color: white;
        background-color: #8C5B12;
        border: 0px transparent;
        padding: .5vw;
        border-radius: 5%;
        margin-left: 2vw;
    }

    .submit-btn {
        padding: .5vw;
    }
  

}


